

@media only screen and (max-width: 800px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-self: center;
        
    }
    thead{
        visibility: hidden;
        border: 0;
    }
    tbody{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    table{
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

}