<div class="d-flex">
    <table class="table text-center table-dark mx-3">
        <tbody>
            <tr *ngFor="let task of tasks$|async" class="">
                    <td *ngIf="task.done == true"> 
                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828644.png" alt="Tarea finalizada" width="25" height="25"/>
                      </td>
                      <td *ngIf="task.done == true" class="task-text">
                        <p class="px-5 clickable border btn btn-outline-light" (click)="getDetails(task.details)">{{ task.title }} </p>               
                      </td>
            </tr>
        </tbody>
      </table>
    <app-task-details [text]="details"></app-task-details>
</div>