.input-container{
    flex-direction: row;
}
.card-footer>button{
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .input-container{
        flex-direction: column;
        color: red;
    }

}